body {
    background: #00033d;
    background-image: linear-gradient(45deg, #00033d, #0600ab, #0033ff);
    color: #977dff;
    font: 16px/1.5 "Outfit", sans-serif;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

::-moz-selection { background: #ffccf2; color: #00033d; text-shadow: none;}
::selection { background: #ffccf2; color: #00033d; text-shadow: none;}

h1, h2, h3, h4, h5, h6, .logo a{
    font-family: "Cal Sans", sans-serif;
}

a {
    text-decoration: none;
}

p {
    color: #f2e6ee;
}

header {
    background: #020260;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.logo {
    margin: 0;
    padding-top: 15px;
}

.logo a {
    color: #ffccf2;
    transition: transform 0.4s ease-out;
}

.logo a:focus,
.logo a:hover {
    color: #0000;
    -webkit-text-stroke: 0.2px #ffccf2;
    opacity: 0.8;
}


nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

nav li a {
    display: block;
    margin: 0 5px;
    padding: 12px 15px;
    background: #020260;
    border-radius: 10px;
    color: #ffccf2;
    font-weight: 500;
    transition: transform 0.4s ease-out;
}

nav li a:focus, 
nav li a:active {
    background: #ffccf2;
    color: #020260;
}

nav li a:hover {
    opacity: 0.8;
}

#socials a {
    display: inline-block;
    margin-top: 15px;
    margin-left: 5px;
    padding: 10px 12px;
    background: #040188;
    color: #ffccf2;
    font-size: 15px;
    border-radius: 50%;
}

main {
    max-width: 1240px;
    padding: 5% 10%;
}

h2 {
    color: #ffccf200;
    -webkit-text-stroke: 1px #ffccf2;
    font-weight: 400;
    margin: 0 0 30px;
    font-size: 9rem;
    line-height: 1;
}

h2 span {
    color: #ffccf2;
    -webkit-text-stroke: none;
}